/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;

#include <nordic/nrf52833_qiaa.dtsi>
#include "mwave-pinctrl.dtsi"
#include "mwave-33-pinctrl.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    model = "lcp";
    compatible = "kinesis,lcp";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        //zephyr,console = &cdc_acm_uart;
        zmk,backlight = &backlight;
        zmk,battery = &vbatt;
    };

    backlight: pwmleds {
        compatible = "pwm-leds";
        pwm_led_0 {
            pwms = <&pwm0 0 10000 PWM_POLARITY_NORMAL>;
        };
    };

    kscan_sp3t_toggle: kscan_sp3t_toggle {

        wakeup-source;
        compatible = "zmk,kscan-gpio-direct";
        toggle-mode;

        input-gpios
            = <&gpio0 3 GPIO_ACTIVE_LOW>
            , <&gpio0 2 GPIO_ACTIVE_LOW>
            , <&gpio0 28 GPIO_ACTIVE_LOW>
            ;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};

// Single Colour Backlighting
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_33_default>;
    pinctrl-1 = <&pwm0_33_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
    shifter: 595@0 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <4000000>;
        reg = <0>;
        #gpio-cells = <2>;
        ngpios = <24>;
    };
};


&flash0 {
    /*
     * For more information, see:
     * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        sd_partition: partition@0 {
            reg = <0x00000000 0x0001000>;
        };
        code_partition: partition@1000 {
            reg = <0x00001000 0x0006b000>;
        };

        storage_partition: partition@6c000 {
            reg = <0x0006c000 0x00008000>;
        };

        boot_partition: partition@74000 {
            reg = <0x00074000 0x0000c000>;
        };
    };
};